.register .logo {
    width: 200px;
}

.register-form {
    width: 37%;
    margin: auto;
}

.register .google-logo {
    width: 30px;
}

@media only screen and (max-width: 768px) {
    .register-form {
        width: 100%;
    }
}